<%= form_for(@contest) do |f| %>
  <% if @contest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contest.errors.count, "error") %> prohibited this contest from being saved:</h2>

      <ul>
      <% @contest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstContestant %><br />
    <%= f.text_field :firstContestant %>
  </div>
  <div class="field">
    <%= f.label :secondContestant %><br />
    <%= f.text_field :secondContestant %>
  </div>
  <div class="field">
    <%= f.label :firstScore %><br />
    <%= f.number_field :firstScore %>
  </div>
  <div class="field">
    <%= f.label :secondScore %><br />
    <%= f.number_field :secondScore %>
  </div>
  <div class="field">
    <%= f.label :tournament_id %><br />
    <%= f.number_field :tournament_id %>
  </div>
  <div class="field">
    <%= f.label :bracket %><br />
    <%= f.number_field :bracket %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
