<h1>Listing contests</h1>

<table>
  <tr>
    <th>Firstcontestant</th>
    <th>Secondcontestant</th>
    <th>Firstscore</th>
    <th>Secondscore</th>
    <th>Tournament</th>
    <th>Bracket</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contests.each do |contest| %>
  <tr>
    <td><%= contest.firstContestant %></td>
    <td><%= contest.secondContestant %></td>
    <td><%= contest.firstScore %></td>
    <td><%= contest.secondScore %></td>
    <td><%= contest.tournament_id %></td>
    <td><%= contest.bracket %></td>
    <td><%= link_to 'Show', contest %></td>
    <td><%= link_to 'Edit', edit_contest_path(contest) %></td>
    <td><%= link_to 'Destroy', contest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contest', new_contest_path %>
