<p id="notice"><%= notice %></p>

<p>
  <b>Firstcontestant:</b>
  <%= @contest.firstContestant %>
</p>

<p>
  <b>Secondcontestant:</b>
  <%= @contest.secondContestant %>
</p>

<p>
  <b>Firstscore:</b>
  <%= @contest.firstScore %>
</p>

<p>
  <b>Secondscore:</b>
  <%= @contest.secondScore %>
</p>

<p>
  <b>Tournament:</b>
  <%= @contest.tournament_id %>
</p>

<p>
  <b>Bracket:</b>
  <%= @contest.bracket %>
</p>


<%= link_to 'Edit', edit_contest_path(@contest) %> |
<%= link_to 'Back', contests_path %>
